.footer{
  padding: 20px;
  text-align: center;
  background-color: #333333;
  color: white;
}

.footer__link{
  margin-top: 50px;
}

.footer__link>a{
  color: cadetblue;
  text-decoration: underline;
  font-weight: 200;
}